# PostgreSQL接続情報（ローカル検証用）
DB_HOST=host.docker.internal
DB_PORT=5433
DB_NAME=bizcloud_map_development
DB_USER=postgres
DB_PASSWORD=password

# ローカル開発用
EXPORT_CSV_BUCKET=s3-bucket
# 追加の環境変数があればここに記載してください

